.AProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    width: 80%;
    box-sizing: border-box;
    padding: 1.25rem;
    background-color: hsl(0, 0%, 4%);
    border: .125rem solid hsl(0, 0%, 28%);
    border-radius: .5rem;
    transition: border-color 160ms ease;
}

.AProject:hover,
.AProject:focus-within {
    border-color: hsl(208, 100%, 25%);
}

.AProject h3 {
    font-weight: normal;
}

.AProject .description-list {
    margin: .25rem;
    padding: 0rem;
    list-style: none;
    line-height: 1.5rem;
    text-align: center;
}

.AProject .description-list li::before {
    content: "- ";
}

.Image {
    width: 90%;
    height: auto;
}
