.ProjectsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

.ProjectsBody h1 {
    margin-bottom: 1rem;
}

.ProjectsBody hr {
    border: .0625rem solid hsl(0, 0%, 28%);
    margin: 3rem;
    width: 100%; 
}