.ProfileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.ProfileBody h1 {
    margin-bottom: 1rem;
}

.ProfileBody h2 {
    margin-bottom: 2rem;
}

.Intro {
    width: 80%;
    margin: 2.5rem;
    padding: 0rem;
    font-size: 1.25em;
}
