.resume-placement {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.button-placement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}