.ExperienceBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 30px;
}

.ExperienceBody h1 {
    margin: 20px;
}

.ExperienceBody hr {
    border: 1px solid hsl(0, 0%, 28%);
    margin: 50px;
    width: 1000px; 
}

@media (max-width: 768px) {
    .ExperienceBody {
        margin-bottom: 20px;
    }
    
    .ExperienceBody h1 {
        margin: 5px;
    }
    
    .ExperienceBody hr {
        margin: 20px;
        width: 350px; 
    }
}
