.headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media (max-width: 640px) {
    .headshot {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}