server {
    listen 80;
    server_name rogerbelman.com www.rogerbelman.com;

    root /var/www/rogerbelman.com;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location = /robots.txt {
        try_files $uri =404;
    }

    location = /sitemap.xml {
        try_files $uri =404;
    }
}
