nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: hsl(0, 0%, 28%);
    text-decoration: none;
}

.current-link {
    text-decoration: underline;
    text-decoration: overline;
}