nav {
    display: flex;
    gap: 20px;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 28%);
    text-decoration: none;
}

.current-link {
    text-decoration: underline;
    text-decoration: overline;
}