nav {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    font-size: 1.75rem;
}

.inactive {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.active {
    color: hsl(0, 0%, 100%);
    text-decoration: underline overline;
    text-decoration-color: hsl(208, 100%, 20%);
    text-underline-offset: .5rem;
}

.inactive:hover {
    color: hsl(0, 0%, 28%);
    text-decoration: none;
}