.Button {
    background-color: hsl(0, 0%, 0%);
    font-family: 'Orbitron';
    color: hsl(0, 0%, 100%);
    border: .25rem solid hsl(0, 0%, 100%);
    font-size: 1.25rem;
    width: 12.5rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: .25rem;
}