.AnExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    width: 80%;
}

.AnExperience h3 {
    font-weight: normal;
}

.AnExperience p {
    margin: .25rem;
}

.grey {
    color: hsl(0, 0%, 28%);
}

.white {
    white-space: pre-line;
    line-height: 1.5rem;
}