.ExperienceBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.ExperienceBody h1 {
    margin-bottom: 1rem;
}

