.ExperienceCard p {
    padding: .25rem;
}

.grey {
    color: hsl(0, 0%, 28%);
}

.ExperienceCard .Button {
    width: 16rem;
    max-width: 100%;
    white-space: nowrap;
}

.white {
    color: hsl(0, 0%, 100%);
}
