html {
    font-size: 100%;
}

#root {
    margin: 0 auto;
    max-width: 90rem;
}

body {
    margin: 0rem;
    padding: 0rem 3rem 0rem 3rem;
    background-color: hsl(0, 0%, 0%);
    font-family: 'Orbitron';
    color: hsl(0, 0%, 100%)
}

h1 {
    margin: 0rem;
    padding: 0rem;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    margin: 0rem;
    padding: 0rem;
    color: hsl(0, 0%, 28%);
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    margin: 0rem;
    padding: 0rem;
    color: hsl(208, 100%, 25%);
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    margin: 0rem;
    padding: 0rem;
}

@media (max-width: 600px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 50%;
    }
}