.ProjectsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 30px;
}

.ProjectsBody h1 {
    margin: 0px 20px 20px 20px;
}

.ProjectsBody hr {
    border: 1px solid hsl(0, 0%, 28%);
    margin: 50px;
    width: 100%; 
}

@media (max-width: 640px) {
    .ProjectsBody hr {
        margin: 30px;
    }
}